{% extends 'continufront/index.html.twig' %}

{% block continu %}
<h3>Moyen de transport publique</h3>
<div class="text-right">
    <form action="{{ path('app_affichemoyen_rechercher') }}" method="GET">
        <input type="text" name="nom">
        <input type="submit" value="Rechercher" class="btn btn-danger mr-2" style="background-color:#8DD3BB;">
    </form>
</div>
    <br>
<div class="container">
  <div class="row">
   
  
    {% for ligne in lignes %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
          <h3>{{ ligne.moyentp.type}}</h3>
          <br>
          {% if ligne.moyentp.type == 'TRAIN' %}
            <img src="assets/front/images/train.jpg"  >
          {% elseif ligne.moyentp.type == 'BUS' %}
            <img src="assets/front/images/bus.jpg"  >
          {% elseif ligne.moyentp.type == 'METRO' %}
            <img src="assets/front/images/metro.jpg"  >
          {% endif %}
           <br>
           <br>
            <h5 class="card-title">{{ ligne.moyentp }}</h5>
            <p class="card-text">{{ ligne.trajet }}</p>
            <br>
         
            <a href="{{path('app_affichemoyen_details',{ 'id': ligne.id  })}}" class="btn btn-primary" class="btn btn-primary" style="width:300px; margin:1px; background-color:#8DD3BB; ">Voir</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
