<div {{ attributes }}>
	<div class="row">

		<div class="col-12">
			<div class="d-flex justify-content-between align-items">
				<div>
					<a href="{{ path('app_etablissement_create')}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
						<button type="button" class="btn btn-success ">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
							</svg>

							<span class="mx-1 ">Ajouter un établissement</span>
						</button>
					</a>
				</div>
				<div class="d-flex justify-content-between align-items">
					<div class="mx-4">
						<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#filterModal">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter " viewbox="0 0 16 16">
								<path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
							</svg>
							<span class="mx-1 ">Filter</span>
						</button>
					</div>

					<div>
						<div class=" input-group input-group-outline">
							<input class='form-control bg-white' type="search" data-model="query" placeholder="Chercher">
							<span class="input-group-text px-2 border-0" id="search-addon">
								<i class="fas fa-search"></i>
							</span>
						</div>

					</div>
				</div>


			</div>


			<div class="card mb-4">
				<div class="card-body px-0 pb-2">

					<div class="table-responsive p-0">

						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th rowspan="2" class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Nom</th>
									<th rowspan="2" class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Type</th>

									<th colspan="2" class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Trajet</th>
									<th rowspan="2" class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">nombre de vues</th>
									<th rowspan="2" class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Date de Création</th>
									<th rowspan="2" class="text-secondary opacity-7"></th>
								</tr>
								<tr>
									<th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Depart</th>
									<th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Destination</th>

								</tr>

							</thead>
							<tbody>
								{% if this.listEtablissements is empty %}
									<tr>

										<td colspan="8">
											<span class="text-secondary text-xs font-weight-bold ">Il n'y a aucun etablissement pour le moment</span>
										</td>
									</tr>


								{% else %}
									{% for etablissement in this.listEtablissements %}


										<tr>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold text-start">{{etablissement.getNom()}}</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">{{etablissement.getType()}}</span>
											</td>

											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">{{etablissement.getTrajet().getDepart()}}</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">{{etablissement.getTrajet().getDestination()}}</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">{{etablissement.views}}</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold text-start">{{etablissement.dateCreation | date}}</span>
											</td>
											<td class="align-middle text-center">
												<a href="{{ path('app_etablissement_read', {'id': etablissement.getId()}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
													<button type="button" class="btn btn-info btn-sm">Consulter</button>
												</a>
												<a href="{{ path('app_etablissement_update', {'id': etablissement.getId()}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
													<button type="button" class="btn btn-outline-secondary btn-sm">Modifier</button>
												</a>

												<button type="button" class="btn btn-danger btn-sm" onclick="myFunction({{etablissement.getId()}})" data-bs-target="#exampleModal" data-bs-toggle="modal">Supprimer</button>

											</td>

										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
